{deps, [
  {jsx, "2.5.2", {git, "git://github.com/talentdeficit/jsx.git", {tag, "v2.5.2"}}},
  {lager, "3.2.0", {git, "git://github.com/basho/lager.git"}}
  
]}.

{erl_opts, [{parse_transform, lager_transform}]}.
{sub_dirs, ["src/backend,src/db,src/nodeman, test, src/core"]}.
%{erl_first_files, ["deps/larger/src/lager_transform.erl"]}.
